.burger-btn {
    display: none;
    background: none;
    border: none;
    cursor:pointer;
    padding: 0.5rem;
  }
  .burger-btn span {
    display: block;
    width: 25px;
    height: 3px;
    background: white;
    margin: 4px 0;
  }
  @media (max-width: 768px) {
    .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background: #333;
      padding: 1rem;
      box-sizing: border-box;
    }
  
    .nav-links.active {
      display: flex;
    }
  
    .burger-btn {
      display: block;
    }
  }